{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Symfony Translation status</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {#
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                {% for v in availableVersions %}
                <li class="nav-item{% if v == version %} active{% endif %}">
                    <a class="nav-link" href="{{ path('index', {version: v}) }}{% if v != default_version %}.html{% endif %}">{{ v }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
         #}
    </nav>

    <main role="main" class="container">

        <h1>Symfony Translation status</h1>
        <p class="lead">
            This page shows you an overview over missing translations in Symfony.<br>
            If you speak a language with missing translations, I would LOVE if you
            made a pull request.
        </p>
        <p>
            Read more about how to make a PR <a href="#pr">here</a>.
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>Language</th>
                    {% for component in data['English (en)'] %}
                    <th style="width: 20%">{{ component.componentName }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for componentCollection in data %}
                    <tr>
                        <td>
                            {{ componentCollection.language }}
                            {% if componentCollection.issue is not null %}
                                (<a href="{{ componentCollection.issue }}">Issue</a>)
                            {% endif %}
                        </td>
                        {% for model in componentCollection %}
                            {% set percentage = model.percentDone %}
                        <td>
                            <div class="progress">
                              <div class="progress-bar progress-bar-striped {% if percentage == 100 %}bg-success{% elseif percentage > 90 %}bg-warning{% else %}bg-danger{% endif %}"
                                   role="progressbar"
                                   style="width: {{ percentage }}%"
                                   aria-valuenow="{{ model.missingCount }}"
                                   aria-valuemin="{{ model.missingCount }}"
                                   aria-valuemax="{{ model.getTotalCount }}">
                                  {{ percentage }}%
                              </div>
                            </div>
                        </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2 id="pr" class="mt-5">How to make a translation PR</h2>
        <p>
            In the Symfony documentation <a href="https://symfony.com/doc/current/contributing/code/pull_requests.html">there is a page</a>
            that describes how to generally make a pull request to Symfony. To
            contribute to translations is not much different.
        </p>

        <p>
            Check out the lowest supported branch. That is currently <b>{{ pr_target_branch }}</b>.
            All new translations will always go to that branch.
            Then, for each missing translation in your language, copy the translations
            from English. Then translate the &lt;target&gt;.
        </p>

        <p>
            The translation files for the different components are located here:
        </p>

        <ul>
            {% for name, path in componentPaths %}
            <li><b>{{ name }}</b> - {{ path }}</li>
            {% endfor %}
        </ul>

        <p>Here is an example of the validator.sv.xlf file:</p>

        <pre><code>
    &lt;trans-unit id="91"&gt;
        &lt;source&gt;This value should be either negative or zero.&lt;/source&gt;
        &lt;target&gt;Detta värde bör vara antingen negativt eller noll.&lt;/target&gt;
    &lt;/trans-unit&gt;
    &lt;trans-unit id="92"&gt;
        &lt;source&gt;This value is not a valid timezone.&lt;/source&gt;
        &lt;target&gt;Detta värde är inte en giltig tidszon.&lt;/target&gt;
    &lt;/trans-unit&gt;
        </code></pre>

        <p>The English translations in validator.en.xlf has some more strings:</p>

        <pre><code>
    &lt;trans-unit id="91"&gt;
        &lt;source&gt;This value should be either negative or zero.&lt;/source&gt;
        &lt;target&gt;This value should be either negative or zero.&lt;/target&gt;
    &lt;/trans-unit&gt;
    &lt;trans-unit id="92"&gt;
        &lt;source&gt;This value is not a valid timezone.&lt;/source&gt;
        &lt;target&gt;This value is not a valid timezone.&lt;/target&gt;
    &lt;/trans-unit&gt;
    &lt;trans-unit id="93"&gt;
        &lt;source&gt;This password has been leaked in a data breach, it must not be used. Please use another password.&lt;/source&gt;
        &lt;target&gt;This password has been leaked in a data breach, it must not be used. Please use another password.&lt;/target&gt;
    &lt;/trans-unit&gt;
    &lt;trans-unit id="94"&gt;
        &lt;source&gt;This value should be between &#123;&#123; min &#125;&#125; and &#123;&#123; max &#125;&#125;.&lt;/source&gt;
        &lt;target&gt;This value should be between &#123;&#123; min &#125;&#125; and &#123;&#123; max &#125;&#125;.&lt;/target&gt;
    &lt;/trans-unit&gt;
            </code></pre>

        <p>So I copy trans-unit 93 and 94 to validator.sv.xlf and translate the target.</p>

        <pre><code>
    &lt;trans-unit id="91"&gt;
        &lt;source&gt;This value should be either negative or zero.&lt;/source&gt;
        &lt;target&gt;Detta värde bör vara antingen negativt eller noll.&lt;/target&gt;
    &lt;/trans-unit&gt;
    &lt;trans-unit id="92"&gt;
        &lt;source&gt;This value is not a valid timezone.&lt;/source&gt;
        &lt;target&gt;Detta värde är inte en giltig tidszon.&lt;/target&gt;
    &lt;/trans-unit&gt;
    &lt;trans-unit id="93"&gt;
        &lt;source&gt;This password has been leaked in a data breach, it must not be used. Please use another password.&lt;/source&gt;
        &lt;target&gt;Det här lösenordet har läckt ut vid ett dataintrång, det får inte användas. Använd ett annat lösenord.&lt;/target&gt;
    &lt;/trans-unit&gt;
    &lt;trans-unit id="94"&gt;
        &lt;source&gt;This value should be between &#123;&#123; min &#125;&#125; and &#123;&#123; max &#125;&#125;.&lt;/source&gt;
        &lt;target&gt;Detta värde bör ligga mellan &#123;&#123; min &#125;&#125; och &#123;&#123; max &#125;&#125;.&lt;/target&gt;
    &lt;/trans-unit&gt;
            </code></pre>

        <p>I am now ready to make a pull request.</p>
    </main>

{% endblock %}